.popular{
  margin-top: 30px;
  width: 100%;
  .popularName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    h2{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 100%;
      text-align: center;
      color: #000000;
    }
    p{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      color: #000000;
    }
  }
  .popularProductBlock{
    overflow-x: scroll;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    width: 100%;
    height: 300px;
    background-color:#ffffff;
    display: flex;
    align-items: center;
    padding: 0 10px ;
    .popularProductCard {
      margin-right: 10px;
      margin-left: 10px;
      width: 500px;
      height: 225px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      transition: filter 0.5s linear;
      border-radius: 18px;
      background-color:#ffffff;
      scroll-snap-align: start;
      padding: 10px;
      // &:hover{
      //   filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
      // }
      h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        width: 250px;
      }
    }
  }
  .swiper-scrollbar::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 15px;
    background-color: #f1f1f1;
  }
  
  .swiper-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E6E6E6;
  }
  
  .swiper-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}

.brand{
  margin-top: 30px;
  width: 100%;
  .brandName{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    h2{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 100%;
      text-align: center;
      color: #000000;
    }
    p{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      text-align: center;
      color: #000000;
    }
  }
  .brandProductBlockWrap{
    overflow-x: scroll;
    overflow-y:hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    width: 100%;
    height: 540px;
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    .brandProductBlock{
      background-color:#ffffff;
      display: grid;
      grid-template-rows: repeat(2, 229px);
      grid-auto-flow: column;
      gap: 8px;
      .brandProductCard {
        margin-right: 10px;
        margin-left: 10px;
        min-width: auto;
        height: 229px;
        display: flex;
        justify-content: space-evenly;
        transition: filter 0.5s linear;
        border-radius: 18px;
        background-color:#ffffff;
        scroll-snap-align: start;
        &:hover{
          filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
        }
        img{
          height: 220px;
          border-radius: 18px;
        }
      }
    }
  }
  .brandProductBlockWrap::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
  }
  
  .brandProductBlockWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E6E6E6;
  }
  
  .brandProductBlockWrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}

.brandIcons{
  margin-top: 30px;
  width: 100%;
  background-color:#ffffff;
  padding: 0 10px ;
  .brandIconsName{
    h2{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 100%;
      color: #000000;
    }
  }
  .brandIconsWrap{
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    padding: 25px 10px;
    .brandIconCard{
      display: flex;
      justify-content: center;
      align-items: center;
      transition: filter 0.5s linear;
      border-radius: 18px;
      background-color:#ffffff;
      scroll-snap-align: start;
      margin-right: 10px;
      margin-left: 10px;
      padding: 10px;
      min-width: 130px;
      img{
        height: 90px;
      }
      &:hover{
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
      }
    }
  }
  .brandIconsWrap::-webkit-scrollbar {
    border-radius: 10px;
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
  }
  
  .brandIconsWrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #E6E6E6;
  }
  
  .brandIconsWrap::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}

.sliderWrap{
  width: 100%;
  height: 100%;
}
 


// @media screen and (max-width: 992px) {
//   .popularName{
//     h2{
//       font-size: 25px !important;
//     }
//     p{
//       font-size: 12px !important;
//     }
//   }
//   .popularProductBlock{
//     height: 250px !important;
//     .popularProductCard {
//       height: 205px !important;
//       img{
//         height: 200px;
//       }
//       h3{
//         font-size: 18px !important;
//         width: 200px !important;
//       }
//     }
//   }
//   .popularProductBlock::-webkit-scrollbar {
//     height: 10px !important;
//   }
//   .brand{
//     .brandName{
//       h2{
//         font-size: 25px;
//       }
//       p{
//         font-size: 12px;
//       }
//     }
//     .brandProductBlockWrap{
//       height: 500px;
//       .brandProductBlock{
//         grid-template-rows: repeat(2, 200px);
//         gap: 8px;
//         .brandProductCard {
//           height: 200px;
//           img{
//             height: 200px;
//             border-radius: 18px;
//           }
//         }
//       }
//     }
//     .brandProductBlockWrap::-webkit-scrollbar {
//       height: 10px;
//     }
//   }
// }

// @media screen and (max-width: 768px) {
//   .popularName{
//     h2{
//       font-size: 22px !important;
//     }
//     p{
//       font-size: 10px !important;
//     }
//   }
//   .popularProductBlock{
//     height: 180px !important;
//     .popularProductCard {
//       height: 135px !important;
//       img{
//         height: 130px;
//       }
//       h3{
//         font-size: 12px !important;
//         width: 130px !important;
//       }
//     }
//   }
//   .popularProductBlock::-webkit-scrollbar {
//     height: 10px !important;
//   }
//   .brand{
//     .brandName{
//       h2{
//         font-size: 22px;
//       }
//       p{
//         font-size: 10px;
//       }
//     }
//     .brandProductBlockWrap{
//       height: 315px;
//       .brandProductBlock{
//         grid-template-rows: repeat(2, 130px);
//         gap: 8px;
//         .brandProductCard {
//           height: 130px;
//           img{
//             height: 130px;
//             border-radius: 18px;
//           }
//         }
//       }
//     }
//     .brandProductBlockWrap::-webkit-scrollbar {
//       height: 10px;
//     }
//   }
// }

.popular{
  .popularProductBlockNew{
    background-color:#ffffff;
    .popularProductCardNew {
      margin: 20px;
      width: calc(100% - 40px);
      height: 225px;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      align-items: center;
      transition: filter 0.5s linear;
      border-radius: 18px;
      background-color:#ffffff;
      padding: 10px;
      &:hover{
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.1));
      }
      h3{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000000;
        width: 250px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .popularName{
    h2{
      font-size: 25px !important;
    }
    p{
      font-size: 12px !important;
    }
  }
  .popularProductBlockNew{
    .popularProductCardNew {
      height: 205px !important;
      img{
        height: 200px;
      }
      h3{
        font-size: 18px !important;
        width: 200px !important;
      }
    }
  }
  .brand{
    .brandName{
      h2{
        font-size: 25px;
      }
      p{
        font-size: 12px;
      }
    }
    .brandProductBlockWrap{
      height: 500px;
      .brandProductBlock{
        grid-template-rows: repeat(2, 200px);
        gap: 8px;
        .brandProductCard {
          height: 200px;
          img{
            height: 200px;
            border-radius: 18px;
          }
        }
      }
    }
    .brandProductBlockWrap::-webkit-scrollbar {
      height: 10px;
    }
  }
  .brandIcons{
    .brandIconsName{
      h2{
        font-size: 25px;
      }
    }
    .brandIconsWrap{
      padding: 15px 10px;
      .brandIconCard{
        img{
          height: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .popularName{
    h2{
      font-size: 22px !important;
    }
    p{
      font-size: 10px !important;
    }
  }
  .popularProductBlockNew{
    .popularProductCardNew {
      height: 135px !important;
      img{
        height: 130px;
      }
      h3{
        font-size: 12px !important;
        width: 130px !important;
      }
    }
  }
  .brand{
    .brandName{
      h2{
        font-size: 22px;
      }
      p{
        font-size: 10px;
      }
    }
    .brandProductBlockWrap{
      height: 315px;
      .brandProductBlock{
        grid-template-rows: repeat(2, 130px);
        gap: 8px;
        .brandProductCard {
          height: 130px;
          img{
            height: 130px;
            border-radius: 18px;
          }
        }
      }
    }
    .brandProductBlockWrap::-webkit-scrollbar {
      height: 10px;
    }
  }
  .brandIcons{
    .brandIconsName{
      h2{
        font-size: 22px;
      }
    }
    .brandIconsWrap{
      padding: 15px 10px;
      .brandIconCard{
        img{
          height: 50px;
        }
      }
    }
  }
}

