.panel{
  display: flex;
  justify-content: center;
  align-items: center;
  .searchInput{
    width: 240px;
    height: 33px;
    border: 2px solid #ffffff;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-right: 12px;
    visibility: hidden;
    transition: visibility 0s 0.6s, opacity 0.6s ease; /* при закрытии окна навигации, сначала плавно понижается непрозрачность - opacity: 0; затем мгновенно исчезает через 0.6s ожидания - visibility: hidden; */
    opacity: 0;
    input{
      width: 100%;
      border: 0;
      outline:none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: #ffffff;
      background: #4d4d4d;  
      background-color:rgba(0, 0, 0, 0);

    }
  }
  .searchInputActive{
    width: 300px;
    height: 33px;
    border: 2px solid #ffffff;
    border-radius: 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin-right: 12px;
    transition: visibility 0s 0s, opacity 0.6s ease; /* при открытии окна навигации, оно сначала мгновенно появляется - visibility: visible;, затем плавно повышается непрозрачность - opacity: 1; */
    opacity: 1;
    visibility: visible;
    input{
      width: 100%;
      border: 0;
      outline:none;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 100%;
      color: #ffffff;
      background-color:rgba(0, 0, 0, 0);
    }

  }
  .search{
    width: 33px;
    visibility: hidden;
    transition: visibility 1s 1s, opacity 1s ease; /* при закрытии окна навигации, сначала плавно понижается непрозрачность - opacity: 0; затем мгновенно исчезает через 0.6s ожидания - visibility: hidden; */
    opacity: 0;
    display: none
  }
  .searchActive{
    display: block;
    width: 33px;
    transition: visibility 1s 1s, opacity 1s ease; /* при открытии окна навигации, оно сначала мгновенно появляется - visibility: visible;, затем плавно повышается непрозрачность - opacity: 1; */
    opacity: 1;
    visibility: visible;
    margin-right: 12px;
  }
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    li{
      display: flex;
      align-items: center;
      width: 33px;
      margin-right: 12px;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.5s linear;
      img{
        width: 33px;
      }
      &:hover{
        background: rgba(255, 255, 255, 0.18);   
      }
      &:last-child{
        margin: 0;
      }
    }
  }
} 
.navbar{
  background: rgba(0, 0, 0, 0.74);
  backdrop-filter: blur(2px);
  padding: 0;
  height: 60px;
}

.navbarMobileTopActive{
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.808);
  backdrop-filter: blur(2px);
  padding: 0;
  height: 70px;
  transition: all 0.3s linear;
}

.navbarMobileTop{
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear;
}

.navbarMobileBottom{
  background: rgba(0, 0, 0, 0.808);
  backdrop-filter: blur(2px);
  padding: 0;
  height: 70px;
}

.navMenu{
  width: 100%;
  h2{
    font-style: 'Montserrat';
    transition: background-color ease-in 0.4s;
    color:#ffffff;
    width: 100%;
    text-align: center;
    cursor: pointer;
    &:hover{
    background: rgba(255, 255, 255, 0.171);
    }
  }
  .socialNetworks{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    justify-content: space-between;
    width: 150px;
  }
}

@media screen and (max-width: 992px) {
  .searchInput{
    display: none !important;
  }
  .searchInputActive{
    display: none !important;
  }
  .search{
    display: none !important;
  }
  .searchActive{
    display: none !important;
  }
  .panel{
    ul{
      li{
        width: 30px;
        img{
          width: 30px;
        }
      }
    }
  }
  .logo{
    width: 150px;
  }
  .navbar{
    height: 70px;
  }
}

@media screen and (max-width: 425px){
  .panel{
    display: flex;
    width: 100%;
    ul{
      display: flex;
      justify-content: space-between;
      width: 100%;
      li{
        width: 30px;
        img{
          width: 30px;
        }
      }
    }
  }
  .logo{
    width: 150px;
  }
}