footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top:solid 1px #000000;
  margin-top: 30px;
  padding: 20px;
  .menu{
    li{
      list-style: none;
      ul{
        padding: 0;
        margin-bottom: 0;
        margin-top: 10px;
        a{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin: 0;
        }
      }
    }
  }
  .contacts{
    h2{
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #000000;
      margin: 0;
    }
    li{
      list-style: none;
      ul{
        padding: 0;
        margin-bottom: 0;
        margin-top: 10px;
        p{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin: 0;
        }
        a{
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          color: #000000;
          margin: 0;
        }
      }
    }
  }
  .mainFooter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    .payMethods{
      display: flex;
      justify-content: center;
    }
    p{
      margin-top: 10px;
      margin-bottom: 0;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: #000000;
      text-align: center;
    }
    a{
      margin-top: 10px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      color: #000000;
      text-align: center;
    }
  }
}


@media screen and (max-width: 992px) {
  footer{
    .menu{
      li{
        ul{
          a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #000000;
            margin: 0;
          }
        }
      }
    }
    .contacts{
      h2{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 100%;
        color: #000000;
        margin: 0;
      }
      li{
        ul{

          p{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #000000;
            margin: 0;
          }
          a{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            color: #000000;
            margin: 0;
          }
        }
      }
    }
    .mainFooter{

      .payMethods{

      }
      p{
        margin-top: 10px;
        margin-bottom: 0;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #000000;
        text-align: center;
      }
      a{
        margin-top: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        color: #000000;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  
}